{% extends 'application/base.html' %}

{% block body %}
	<div class="cover">
		<form action="/" method="POST" class="form-signin">
			{% csrf_token %}
			{{ form }}
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Footstep me!" />
		</form>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">this project by <a href="http://github.com/amarlearning" target="_blank">@amarlearning</a> can be found on <a href="http://github.com/amarlearning/Footstep" target="_blank">GitHub</a></p>
		</div>
	</footer>
{% endblock %}