{% extends 'application/base.html' %}
{% load githuburl %}
{% load makeurl %}
{% load branch %}
{% load truncate %}
{% block username %}
	{{ username }} | Footstep
{% endblock %}

{% block body %}
		<div class="navBox">
			<ul class="nav nav-tabs" role="tablist">
				<li id ="all" class="common" role="presentation"><a href="#">All Events</a></li>
				<li id ="comment" class="common" role="presentation"><a href="#">Comment Events</a></li>
				<li id ="push" class="common" role="presentation"><a href="#">Push Events</a></li>
				<li id ="issue"  class="common" role="presentation"><a href="#">Issue Events</a></li>
				<li id = "create"  class="common" role="presentation"><a href="#">Create Events</a></li>
				<li id = "delete"  class="common" role="presentation"><a href="#">Delete Events</a></li>
				<li id = "pullrequest"  class="common" role="presentation"><a href="#">Pull Request Events</a></li>
			</ul>
		</div>
	<div id="allevent" class="container modify">
		{% for data in json %}
			{% if data.type == 'IssuesEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.payload.issue.url|githuburl }}" target="_blank">{{ data.payload.issue.title }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">state : {{ data.payload.issue.state }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Opened a new issue in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }}
								</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
			{% if data.type == 'PushEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.payload.commits.0.url }}" target="_blank">{{ data.payload.commits.0.message }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">branch: {{ data.payload.ref|branch }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Created a new commit in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }} 
								</a> on branch 
								<a href="{{ data.repo.url|makeurl:data.payload.ref }}">{{ data.payload.ref|branch }}</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
			{% if data.type == 'CreateEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.repo.url|makeurl:data.payload.ref }}" target="_blank">{{ data.payload.ref }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">master_branch: {{ data.payload.master_branch }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Created new branch in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }} 
								</a> named 
								<a href="{{ data.repo.url|makeurl:data.payload.ref }}">{{data.payload.ref}}</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
			{% if data.type == 'DeleteEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink">{{ data.payload.ref }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-danger">status: Deleted</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Deleted a branch in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }} 
								</a> named 
								<a>{{data.payload.ref}}</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
		{% endfor %}
	</div>
	<div id="issueevent" class="container modify">
		{% for data in json %}
			{% if data.type == 'IssuesEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.payload.issue.url|githuburl }}" target="_blank">{{ data.payload.issue.title }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">state : {{ data.payload.issue.state }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Opened a new issue in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }}
								</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
		{% endfor %}
	</div>
	<div id="commentevent" class="container modify">
		{% for data in json %}
			{% if data.type == 'IssueCommentEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.payload.comment.html_url}}" target="_blank">{{ data.payload.comment.body | truncate }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">state : {{ data.payload.issue.state }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Commentted on <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }}
								</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
			{% if data.type == 'PullRequestReviewCommentEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.payload.comment.html_url}}" target="_blank">{{ data.payload.comment.body | truncate }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">state : {{ data.payload.issue.state }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Commentted on <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }}
								</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
		{% endfor %}
	</div>
	<div id="pushevent" class="container modify">
		{% for data in json %}
			{% if data.type == 'PushEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.payload.commits.0.url }}" target="_blank">{{ data.payload.commits.0.message }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">branch: {{ data.payload.ref|branch }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Created a new commit in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }} 
								</a> on branch 
								<a href="{{ data.repo.url|makeurl:data.payload.ref }}">{{ data.payload.ref|branch }}</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
		{% endfor %}
	</div>
	<div id="createevent" class="container modify">
		{% for data in json %}
			{% if data.type == 'CreateEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink" href="{{ data.repo.url|makeurl:data.payload.ref }}" target="_blank">{{ data.payload.ref }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-default">master_branch: {{ data.payload.master_branch }}</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Created new branch in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }} 
								</a> named 
								<a href="{{ data.repo.url|makeurl:data.payload.ref }}">{{data.payload.ref}}</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
		{% endfor %}
	</div>
	<div id="deleteevent" class="container modify">
		{% for data in json %}
			{% if data.type == 'DeleteEvent' %}
				<div class="box row">
					<div class="col-sm-1 rightx">
						<div class="image-box">
							<a href="{{ data.actor.url|githuburl }}" target="_blank">
								<img class="fix-image" src="{{ data.actor.avatar_url }}">
							</a>
						</div>
					</div>
					<div class="col-sm-11">
						<div class="eventHeading">
							<a class="eventlink">{{ data.payload.ref }}</a>
							<span class="label label-success">{{ data.type }}</span>
							<span class="label label-danger">status: Deleted</span>
							<span class="label label-primary">repo : {{ data.repo.name }}</span>
						</div>
						<div class="description">
								Deleted a branch in repo <a href="{{ data.repo.url|githuburl }}" target="_blank">
									{{ data.repo.name }} 
								</a> named 
								<a>{{data.payload.ref}}</a>
						</div>
					</div>
				</div>
				<div class="gap20"></div>
			{% endif %}
		{% endfor %}
	</div>
	<div id="pullrequestevent" class="container modify">
		<h1>Pull Request Events</h1>
	</div>
{% endblock %}